cljnim
nimcache/
*.exe
*.o
*.dylib
*.so
*_generated.nim
*_generated
test_reader
test_emitter
test_pvec
test_pmap
test_deps
test_eval
test_macros
test_ai_assist


# Artifacts / temp files
__pycache__/
test_single_debug.py

# Binaries
src/tui_config
experiments/native-lib/test_client/test_client
experiments/wasm/tools/zig/
lib/bring_http.nim
